DISCORD_TOKEN=
WEBHOOK_URL=
VOCAB_API_URL=
GEMINI_API_KEY=
FIREBASE_API_KEY=
FIREBASE_API_ID=
FIREBASE_MEAS=
FIREBASE_SENDER_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_API_ID=
VITE_FIREBASE_MEAS=
VITE_FIREBASE_SENDER_ID=
